<!DOCTYPE html>
<html>
<head>
    <style>
        html {
            background-color: white;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Key1</td>
        <td>Key2</td>
    </tr>
    </thead>
    <tbody>
    {{#each rows as |r|~}}
        <tr>
            <td>{{r.key1}}</td>
            <td>{{r.key2}}</td>
        </tr>
    {{/each~}}
    </tbody>
</table>
</body>
</html>
